<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267741102183-m2lsu6s1s732ad6n5mv5enfq3go5g2j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267741102183-m2lsu6s1s732ad6n5mv5enfq3go5g2j8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>267741102183-3l8qkjk5arsmr0rleolo8eqb6rkqtjb7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUBoXl2PzkLMNDZE8dYtb_XUJGCNNNgsY</string>
	<key>GCM_SENDER_ID</key>
	<string>267741102183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.ieltsvault.ielts</string>
	<key>PROJECT_ID</key>
	<string>ielts-690ca</string>
	<key>STORAGE_BUCKET</key>
	<string>ielts-690ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267741102183:ios:75c3114d005836d0f994c2</string>
	<key>DATABASE_URL</key>
	<string>https://ielts-690ca.firebaseio.com</string>
</dict>
</plist>